<div class="panel panel-primary">
    <div class="panel-heading panel-heading-overwrite">
        <h4>Person Details</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4"><strong>Name</strong></div>
            <div class="col-sm-7">{{person.Name}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><strong>Age</strong></div>
            <div class="col-sm-7">{{person.Age}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><strong>Gender</strong></div>
            <div class="col-sm-7">{{person.Gender}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><strong>Zone</strong></div>
            <div class="col-sm-7">{{person.TimeZone}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><strong>Country</strong></div>
            <div class="col-sm-7">{{person.Country}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><strong>State</strong></div>
            <div class="col-sm-7">{{person.State}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><strong>City</strong></div>
            <div class="col-sm-7">{{person.City}}</div>
        </div>
    </div>
</div>