<div>
  <myCustomModule-my-custom-component></myCustomModule-my-custom-component>
  <hr/>
  <div class="menubar">
    <nav>
      <li><a routerLink='/home' routerLinkActive='active'>HOME</a></li>
      <li><a routerLink='/projects' routerLinkActive='active'>PROJECTS</a></li>
      <li><a routerLink='/services' routerLinkActive='active'>SERVICES</a></li>
      <li><a routerLink='/contact' routerLinkActive='active'>CONTACT</a></li>
      <li><a routerLink='/about' routerLinkActive='active'>ABOUT</a></li>
    </nav>
  </div>
  <div class="menucontent">
    <router-outlet></router-outlet>
  </div>
</div>